<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yatra Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.yatra.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Yatra App Test Cases">
		<classes>
			<class name="com.yatra.qa.testcases.WelcomePageTest"></class>
			<class name="com.yatra.qa.testcases.LoginPageTest"></class>
			<class name="com.yatra.qa.testcases.HomePageTest"></class>
			

		</classes>
	</test>
</suite>